@for (message of messageStore.messages(); track message) {
  <div
    class="message-toast flex items-center p-4 rounded-lg shadow"
    animate.enter="message-toast-enter"
    animate.leave="message-toast-leaving"
    [ngClass]="message.type"
  >
    @if (message.type === "info") {
      <mat-icon class="mr-4">check_circle</mat-icon>
    }
    @if (message.type === "error") {
      <mat-icon class="mr-4">warning</mat-icon>
    }
    <p class="text-sm font-normal">
      {{ message.text }}
    </p>
  </div>
}
